In [10]:
import pandas as pd
import tensorflow as tf
import numpy as np
import os

In [11]:
train=pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/train.csv')
train

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

In [12]:
holiday=pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv')
oil=pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/oil.csv')

In [13]:
train=pd.merge(train, holiday, on='date', how='outer')
train=pd.merge(train, oil, on='date', how='outer')

In [14]:
stores=pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/stores.csv')

In [15]:
train=pd.merge(train, stores, on='store_nbr', how='outer')

In [16]:
transactions=pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/transactions.csv')

In [17]:
train=pd.merge(train, transactions, on=["date", "store_nbr"] , how='outer')

In [18]:
train

,id,date,store_nbr,family,sales,onpromotion,type_x,locale,locale_name,description,transferred,dcoilwtico,city,state,type_y,cluster,transactions
0,0.0,2013-01-01,1.0,AUTOMOTIVE,0.0,0.0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13.0,NaN
1,1.0,2013-01-01,1.0,BABY CARE,0.0,0.0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13.0,NaN
2,2.0,2013-01-01,1.0,BEAUTY,0.0,0.0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13.0,NaN
3,3.0,2013-01-01,1.0,BEVERAGES,0.0,0.0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13.0,NaN
4,4.0,2013-01-01,1.0,BOOKS,0.0,0.0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054422,NaN,2017-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.65,NaN,NaN,NaN,NaN,NaN
3054423,NaN,2017-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.40,NaN,NaN,NaN,NaN,NaN
3054424,NaN,2017-08-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.46,NaN,NaN,NaN,NaN,NaN
3054425,NaN,2017-08-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.96,NaN,NaN,NaN,NaN,NaN
3054426,NaN,2017-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.26,NaN,NaN,NaN,NaN,NaN